.hook-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    border-radius: 12px;
    max-width: 600px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap; 
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 200px; 
}

.field-full {
    flex: 1;
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button.sendBtn {
    background-color: greenyellow;
    border: none;
    border-radius: 8px;
    padding: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
    height: 70px;
    flex-shrink: 0; 
}

.sent {
    color: green;
}

button.sendBtn:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.85rem;
    margin-top: 5px;
}

textarea:hover, input:hover {
    border-color: greenyellow;
}

textarea:focus, input:focus {
    border-color: #45a049;
    outline: none;
}


@media (max-width: 768px) {
    .row {
        flex-direction: column; 
    }

    button.sendBtn {
        width: 100%; 
        margin-top: 10px;
    }
}


