.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 6px -2px #000;
  padding: 20px;

}
